<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">

            <!-- University Info -->
            <div class="col-md-4 mb-4">
                <h5 class="mt-2">South Eastern University of Sri Lanka</h5>
                <p>University Park, Oluvil, #32360, Sri Lanka.</p>
                <p>
                    📞 +94 67 2255062 /63 /64<br>
                    📠 +94 67 2255217
                </p>
                <div class="d-flex gap-2">
                    <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- Faculties -->
            <div class="col-md-2 mb-4">
                <h6 class="text-uppercase fw-bold mb-3">Faculties</h6>
                <ul class="list-unstyled">
                    <li>Arts and Culture</li>
                    <li>Management and Commerce</li>
                    <li>Applied Sciences</li>
                    <li>Islamic Studies & Arabic Language</li>
                    <li>Engineering</li>
                    <li>Technology</li>
                </ul>
            </div>

            <!-- Units & Centers -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold mb-3">Units & Centers</h6>
                <ul class="list-unstyled">
                    <li>Postgraduate Unit - FMC</li>
                    <li>Postgraduate Unit - FAC</li>
                    <li>CEDPL</li>
                    <li>RIC</li>
                    <li>SDC</li>
                    <li>ICT Centre</li>
                    <li>Career Guidance Unit</li>
                    <li>OTS / AHEAD</li>
                </ul>
            </div>

            <!-- Useful Links -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold mb-3">Useful Links</h6>
                <ul class="list-unstyled">
                    <li>Library</li>
                    <li>UGC</li>
                    <li>MOHE</li>
                    <li>AHEAD</li>
                    <li>LEARN</li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center mt-4 border-top pt-3">
        <small>© {% now "Y" %} South Eastern University of Sri Lanka. All rights reserved.</small>
    </div>
</footer>
